<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="HTML, CSS, JavaScript">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/public/css/site.css">
    <link rel="stylesheet" href="/public/css/product.css">
    <link rel="stylesheet" href="/public/css/style.css">

    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">

    <script src="/public/js/jquery-2.1.0.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/blocs.js"></script>
    <script src="/public/js/lazysizes.min.js" defer></script>
    <script src="/public/js/edit.js"></script>
    <script src="/public/js/tota11y.min.js"></script>

    <title>Home</title>

</head>
<header>
    <!-- Main container -->
    <nav class="navbar">
        <div class="col-sm-3">
            <div class="nav-left">
                <a href="http://localhost:3000/"><img src="../public/imgs/logo.jpg" alt="MarketIT" id="top-log" class="top-log nav-img" /></a>
                <a href="http://localhost:3000/" class="market-it">Market IT</a>
            </div>
        </div>
        <div class="col-sm-5 nav-search">
            <form method="GET" action="/products">
                <div>
                    {{#if user}}
                    <input type="search" placeholder="Enter products..." aria-label="Search" name="search">

                    <button type="submit"></button>
                    {{/if}}
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <div>

                <ul class="nav-ul">

                    {{#if user}}
                    <li class="nav-product">
                        <a href="http://localhost:3000/info/{{user._id}}" id="pl-undefined" class="nav-home">Profile</a>
                    </li>

                    <li class="nav-product">
                        <a href="http://localhost:3000/products" id="pl-undefined" class="nav-home">Products</a>
                    </li>

                    <li class="nav-product">
                        <a href="http://localhost:3000/users/logout" id="pl-undefined" class="nav-home">Signout</a>
                    </li>

                    {{else}}
                    <li class="nav-product">

                        <a href="http://localhost:3000" id="pl-undefined" class="nav-home">Home</a>
                    </li>
                    <li class="nav-product">
                        <a href="http://localhost:3000/login" id="pl-undefined" class="nav-home">Login</a>
                    </li>

                    <li class="nav-product">
                        <a href="http://localhost:3000/signup" id="pl-undefined" class="nav-home">Signup</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    {{!-- <div class="wrap">
        <!-- bloc-0 -->


        <div class="bloc l-bloc bgc-white " id="bloc-0">
            <div class="container bloc-sm">

                <nav class="navbar_row">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://localhost:3000/">Market IT<span class="special-tag-for-editing-text-with-html"></span></a>
                        <span class="special-tag-for-editing-text-with-html"></span><img src="../public/imgs/logo.jpg"
                            alt="MarketIT" id="top-log" class="top-log" />
                        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-1">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                                class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Search bar -->
                        <form name="topform" id="top-form" class="top-form">
                            <input type="text" placeholder="Search" id="search-input" class="search-input">
                            <button class="search-button" id="search-button" type="submit">Search</button>


                        </form>
                        <!-- Search bar END -->


                        <!-- User Profie -->
                        <!-- <div  class="form-inline"> -->

                        <!-- </div> -->
                    </div>
                    <!-- User Profie END-->
                    <div>
                        <ul class="site-navigation nav navbar-nav">
                            <li>
                                <a href="http://localhost:3000/products" id="pl-undefined">Products</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clsuserdropdowndiv">
                        <ul>
                            <li class="nav-item dropdown">
                                <img src="../public/imgs/user_en.jpg" alt="UserDropDown" id="drop-graph" class="drop-graph"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                                <img src="../public/imgs/triangle.jpg" alt="UserDropDown" id="drop-triangle" class="drop-triangle"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

                                <div class="dropdown-menu" aria-labelledby="dropdown03">

                                    <a class="dropdown-item" href="">Your Bio</a>
                                    <a class="dropdown-item" href="">Your Orders</a>
                                    <a class="dropdown-item" href="">Your Posts</a>
                                    <a class="dropdown-divider"></a>
                                    <form class="logout-form" action="/logout" accept-charset="UTF-8" method="post">
                                        <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token"
                                            value="nsMWSKZLME7eUQxVeWSe7WZUPjWsY43w3sfbbOTCZDtXmOyCr7SVH3MqoJ5VFXtLFPBORuzA/erdiknH0xz4rQ==">
                                        <button type="submit" class="dropdown-item dropdown-signout" data-ga-click="Header, sign out, icon:logout"
                                            role="menubar">Sign
                                            out</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>


                </nav>
            </div>
        </div> --}}
</header>

<body>

    <main>
        {{#if success_msg}}
        <div class="alert alert-success"> {{success_msg}} </div>
        {{/if}}

        {{#if error_msg}}
        <div class="alert alert-danger"> {{error_msg}} </div>
        {{/if}}

        {{#if error}}
        <div class="alert alert-danger"> {{error}} </div>
        {{/if}}

        {{{body}}}
        <script type="text/javascript" src="../public/js/client_side.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    </main>

    <!-- Footer - bloc-4 -->
    <div class="bloc bgc-white l-bloc bloc-bg-texture texture-paper" id="bloc-4">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="mg-md bloc-mob-center-text">
                        AboutUs
                    </h3><a href="index.html" class="a-btn a-block bloc-mob-center-text">Contact us</a>
                </div>
                <div class="col-sm-4">
                    <h3 class="mg-md bloc-mob-center-text">
                        Follow Us
                    </h3><a href="index.html" class="a-btn a-block bloc-mob-center-text">Twitter</a><a href="index.html"
                        class="a-btn a-block bloc-mob-center-text">Facebook</a>
                </div>
                <div class="col-sm-4">
                    <h3 class="mg-md bloc-mob-center-text">
                        Company
                    </h3><a href="index.html" class="a-btn a-block bloc-mob-center-text">Terms of use</a><a href="index.html"
                        class="a-btn a-block bloc-mob-center-text">Privacy</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer - bloc-4 END -->
</body>

</html>