{{!-- <title>Products</title> --}}

<!-- Main container -->
<div class="page-container">

    <h1></h1>
    <h2></h2>
    <div class="bloc bgc-white l-bloc" id="bloc-4">
        <div class="container bloc-lg">
            <div class="row">
                {{#each products}}
                <div class="col-sm-4">
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active products-img-list">
                                <img src="../{{this.image_path}}" alt="First slide">
                            </div>
                        </div>
                    </div>
                    <h3 class="mg-md">
                        {{this.p_name}}
                    </h3>
                    <span class="label label-default">Price: ${{this.price}}</span>
                    <span class="label label-warning">Quantity: {{this.quantity}}</span>
                    <p></p>
                    <p class="text-muted products-description">
                        {{this.p_description}}
                    </p>
                    <div class="product_action_link">
                        <ul>
                            <li class="product_cart"><a href="/products/{{this.product_id}}" title="View Details">View
                                    Details</a></li>
                        </ul>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>


    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop scroll-top-button" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up scroll-top">TOP</span></a>
    <!-- ScrollToTop Button END-->



</div>
<!-- Main container END -->


<!-- Preloader -->
<div id="page-loading-blocs-notifaction"></div>
<!-- Preloader END -->